* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #333;
    font-size: 32px;
    font-family: Verdana;
    padding-top: 200px;
}


a {
    position: relative;
    display: block;
    margin-block: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-inline: auto;
    max-width: max-content;
    overflow: hidden; 
    padding-bottom: 5px;
}

a:before, 
a:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    background-color: red;
}

a:before {
    right: 0;
    width: 0px;
    height: 4px;
    transition: width linear 125ms 250ms;
}

a:hover:before {
    width: 100%;
}

 a:after {
    left: -100%;
    height: 100%;
    width: 100%;
    transition: left linear 250ms;
} 

 a:hover:after {
    left: 100%;
}